<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @attendee.score %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @attendee.ready %>
</p>

<p>
  <strong>Room:</strong>
  <%= @attendee.room %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', room_attendees_path(@room) %>
