<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        location.reload();
    });

    $(function() {
        var client = new ZeroClipboard( document.getElementById("copy-join-link") );
    });
</script>

<div class="row">
  <div class="large-12 columns">
    <h1>Room #<%= @room.id %></h1>
  </div>

  <div class="large-6 columns">
    <% if @room.attendees.empty? %>

      <div class="panel">
        Waiting for attendees
      </div>

    <% else %>

    <table style="width: 100%;">
      <% @room.attendees.each do |attendee| %>
        <tr>
          <td style="widht: 70%;">
            <a href="#" data-dropdown="dd-attendee-<%= attendee.id %>" data-options="is_hover:true;">
              <%= attendee.name %>
            </a>
            <ul id="dd-attendee-<%= attendee.id %>" class="f-dropdown" data-dropdown-content>
              <li>
                <%= link_to 'Remove', attendee_path(attendee, format: :json), remote: true, method: :delete %>
              </li>
            </ul>
          </td>
          <td style="width: 30%;">
            <% if @room.show_scores %>
              <%= attendee.score %>
            <% elsif !attendee.score.nil? %>
              <span class="success label">ready</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <ul class="button-group">
      <li><%= button_to "Show", show_scores_room_path(@room), class: 'button' %></li>
      <li><%= button_to "Reset", reset_room_path(@room), class: 'alert button' %></li>
    </ul>

    <% end %>

  </div>

  <div class="large-6 columns">
    <div class="panel">
      <h3>Invite attendees</h3>
      <div class="row collapse">
        <div class="large-10 columns">
          <input type="text" value="<%= room_url(@room) %>" />
        </div>
        <div class="large-2 columns">
          <a id="copy-join-link" class="button postfix" data-clipboard-text="<%= room_url(@room) %>" href="#">Copy</a>
        </div>
      </div>
    </div>
  </div>
</div>
