<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        location.reload();
    });
</script>

<div class="row">
  <div class="large-6 columns">
    <p id="notice"><%= notice %></p>

    <h1>Room #<%= @room.id %></h1>

    <% if @room.attendees.empty? %>

      <div class="panel">
        Waiting for attendees
      </div>

    <% else %>

    <table style="width: 100%;">
      <% @room.attendees.each do |attendee| %>
        <tr>
          <td style="widht: 70%;">
            <a href="#" data-dropdown="dd-attendee-<%= attendee.id %>" data-options="is_hover:true;">
              <%= attendee.name %>
            </a>
            <ul id="dd-attendee-<%= attendee.id %>" class="f-dropdown" data-dropdown-content>
              <li>
                <%= link_to 'Remove', attendee_path(attendee, format: :json), remote: true, method: :delete %>
              </li>
            </ul>
          </td>
          <td style="widht: 30%;">
            <% if @room.show_scores %>
              <%= attendee.score %>
            <% elsif !attendee.score.nil? %>
              <span class="success label">ready</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

      <%= button_to "Show", show_scores_room_path(@room), class: 'button' %>
      <%= button_to "Reset", reset_room_path(@room), class: 'alert button' %>

    <% end %>

  </div>
</div>
