<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Room #<%= @room.id %></h1>

    <table>
      <% @room.attendees.each do |attendee| %>
        <tr>
          <td>
            <%= attendee.name %>
          </td>
          <td>
            <% if @room.show_scores %>
              <%= attendee.score %>
            <% elsif !attendee.score.nil? %>
              <span class="success label">ready</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= button_to "Show", show_scores_room_path(@room), class: 'button' %>

  </div>
</div>
