<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        renderScores();
    });

    $(function() {
        var client = new ZeroClipboard( document.getElementById("copy-join-link") );
    });

    function renderScores() {
        var getRoom = $.get('<%= room_path(@room, format: :json) %>');
        var getAttendees = $.get('<%= room_attendees_path(@room, format: :json) %>');
        $.when(getRoom, getAttendees).done(function(room, attendees) {
            var html = HandlebarsTemplates['attendee_scores']({
                room: room[0],
                attendees: attendees[0]
            });
            $('#scores').html(html).foundation();
        });
    }

    renderScores();

    function deleteAttendee(id) {
        $.ajax({
            url: '/attendees/' + id + '.json',
            type: 'DELETE'
        });
    }
</script>

<div class="row">
  <div class="large-12 columns">
    <h3><%= @room.display_name %></h3>
  </div>

  <div class="large-6 columns">
    <% if @room.attendees.empty? %>

      <div class="panel">
        Waiting for attendees
      </div>

    <% else %>

    <div id="scores">
    </div>

    <ul class="button-group">
      <li><%= button_to "Show", show_scores_room_path(@room, format: :json), class: 'button', remote: true %></li>
      <li><%= button_to "Reset", reset_room_path(@room, format: :json), class: 'alert button', remote: true %></li>
    </ul>

    <% end %>
  </div>

  <div class="large-6 columns">
    <div class="panel">
      <h4>Invite attendees</h4>
      <div class="row collapse">
        <div class="large-10 columns">
          <input type="text" value="<%= room_url(@room) %>" />
        </div>
        <div class="large-2 columns">
          <a id="copy-join-link" class="button postfix" data-clipboard-text="<%= room_url(@room) %>" href="#">Copy</a>
        </div>
      </div>
    </div>
  </div>
</div>
