<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        if (data.attendee_id == <%= @attendee.try(:id) %>) {
            location.reload();
        }
    });

    function setScore(score) {
        $.ajax({
            url: "<%= attendee_path(@attendee, format: :json) %>",
            type: 'PUT',
            data: {
                'attendee[score]': score
            }
        });
    }
</script>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Room #<%= @room.id %></h1>

    <% unless @attendee.nil? %>
      <h3>Attending as <%= @attendee.name %></h3>
    <% end %>
  </div>
</div>

<% unless @attendee.nil? %>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-12">
        <% ["0.5", "1", "2", "3", "5", "8", "13", "20", "40", "100", "break", "?"].each do |score| %>
          <li>
            <a style="width: 100%; padding-left: 0; padding-right: 0;" class="small button <%= score == @attendee.score ? 'success' : '' %>" href="#" onclick="setScore('<%= score %>');"><%= score %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
