<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        if (data.attendee_id == <%= @attendee.try(:id) %>) {
            location.reload();
        }
    });
</script>

<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>

    <h1>Room #<%= @room.id %></h1>

    <% unless @attendee.nil? %>
      <h3>Attending as <%= @attendee.name %></h3>

      <% ["1", "2", "3", "5", "8", "13", "20", "40", "100", "?"].each do |score| %>
        <%= form_tag(attendee_path(@attendee, format: :json), remote: true, method: :put) do %>
          <%= hidden_field_tag "attendee[score]", score %>
          <%= submit_tag score, class: "button #{score == @attendee.score ? 'success' : ''}" %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>