<script type="application/javascript">
    var channel = dispatcher.subscribe('room:' + <%= @room.id %>);
    channel.bind('updated', function(data) {
        if (!data.attendee_id || data.attendee_id == <%= @attendee.try(:id) %>) {
            location.reload();
        }
    });

    <% unless @attendee.nil? %>
        function setScore(score) {
            $.ajax({
                url: "<%= attendee_path(@attendee, format: :json) %>",
                type: 'PUT',
                data: {
                    'attendee[score]': score
                }
            });
        }
    <% end %>
</script>

<div class="row">
  <div class="large-12 columns">
    <h3>
      <% unless @attendee.nil? %>
        Attending as <strong><%= @attendee.name %></strong> @
      <% end %>

      Room #<%= @room.id %>
    </h3>

    <% if @attendee.nil? %>
      <div class="panel text-center">
        <% if @room.attendees.empty? %>
          This room is currently empty.
        <% else %>
          Currently attending: <%= list_names %>.
        <% end %>
        <br />
        <br />
        <%= link_to 'Join', room_join_path(@room), class: 'round button' %>
      </div>
    <% end %>
  </div>
</div>

<% unless @attendee.nil? %>
  <div class="row">
    <div class="large-12 columns">
      <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-12">
        <% ["0.5", "1", "2", "3", "5", "8", "13", "20", "40", "100", "break", "?"].each do |score| %>
          <li>
            <a style="width: 100%; padding-left: 0; padding-right: 0;" class="button <%= score == @attendee.score ? 'success' : '' %>" href="#" onclick="setScore('<%= score %>');"><%= score %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
